<h1>Tasks</h1>

<input
  #title
  (keyup.enter)="createTask(title)"
  type="text"
  class="form-control mb-5"
  placeholder="Enter a new task"
/>

<ul class="list-group">
  <li *ngFor="let task of tasks" class="list-group-item">
    <div *ngIf="task.isBeingEdited; then thenBlock; else elseBlock"></div>
    <ng-template #thenBlock>
      <div class="task">
        <input
          class="form-control"
          [value]="task.title"
          [(ngModel)]="newTitle"
        />

        <div class="buttons">
          <button class="btn btn-success btn-sm" (click)="saveTask(task)">
            Save
          </button>
          <button
            class="btn btn-secondary btn-sm"
            (click)="cancelEditingTask(task)"
          >
            Cancel
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template #elseBlock>
      <div class="task">
        <p
          [class.task__text]="task.title.length > 45"
          (mouseover)="setContent($event, task)"
        >
          {{ task.title | summary }}
        </p>
        <div class="buttons">
          <button class="btn btn-primary btn-sm" (click)="editTask(task)">
            Edit
          </button>
          <button class="btn btn-danger btn-sm" (click)="deleteTask(task)">
            Delete
          </button>
        </div>
      </div>
    </ng-template>
  </li>
</ul>
