<h1>Help Me Do It</h1>

<h3>Manage your time wisely!</h3>
<label class="mt-5" for="newTask">What are you up to?</label>
<div class="input mb-4">
    <input class="form-control" [(ngModel)]="newTask" [value]="newTask" id="newTask" placeholder="Enter a new task"/>
    <button class="btn btn-primary" (click)="addATask(newTask)">Add</button>
</div>

<ul
    *ngIf="tasks?.length"
    cdkDropList
    class="example-list"
    (cdkDropListDropped)="drop($event)"
>
    
    <li
        *ngFor="let item of tasks; index as i"
        (click)="showInfo($event)"
        class="example-box"
        cdkDrag
    >

        <div *ngIf="item.isBeingEdited; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <div class="task">
                <input class="form-control" [value]="item.task" [(ngModel)]="editedTask"/>
                
                <div class="buttons">
                    <button class="btn btn-success btn-sm" (click)="saveATask(i)">Save</button>
                    <button class="btn btn-secondary btn-sm" (click)="cancelEditingATask(i)">Cancel</button>
                </div>
            </div>
        </ng-template>
        <ng-template #elseBlock>
            <div class="task">
                <p [class.task__text]="item.task.length > 45" (mouseover)="setContent($event, i)">
                {{item.task | summary}}
                </p>
                <div class="buttons">
                    <button class="btn btn-primary btn-sm" (click)="editATask(i, item.task)">Edit</button>
                    <button class="btn btn-danger btn-sm" (click)="deleteATask(i)">Delete</button>
                </div>
            </div>
        </ng-template>
        
    </li>
    
</ul>
