.input {
  max-width: 700px;
  display: flex;
  justify-content: left;
}

p {
  margin-bottom: 0;
  cursor: default;
}

input,
button {
  margin: 5px 0 5px;
}

input {
  margin-right: 10px;
}

ul {
  padding: 0;
  margin: 0;

  counter-reset: tasks;
}

ul,
h5 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;

  & > div {
    position: relative;

    max-height: 41px;

    & > input {
      width: 70%;
    }
  }
}

a {
  text-decoration: none;
}

.card {
  margin-bottom: 10px;
}

.folder {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > div > button {
    margin-right: 5px;
  }

  & > div > button:last-child {
    margin-right: 0;
  }

  & > .folder__text::after {
    content: attr(data-after);
    max-width: 500px;
    position: absolute;
    bottom: 0;
    left: 3%;

    background-color: #5bc0de;
    padding: 5px 10px;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    color: #fff;

    transform: scale(0);
    transition: transform ease-out 150ms, bottom ease-out 150ms;
  }

  & > .folder__text:hover::after {
    transform: scale(1);
    bottom: 100%;
  }
}
